@emerson:registry=https://pkgs.dev.azure.com/EmersonAutomationSolutions/_packaging/EmersonDynamicUILibrary/npm/registry/

always-auth=true
//pkgs.dev.azure.com/EmersonAutomationSolutions/AS-PMO-Custom-Development-Services/_packaging/EmersonDynamicUIComponents/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/EmersonAutomationSolutions/AS-PMO-Custom-Development-Services/_packaging/EmersonDynamicUIComponents/npm/registry/:_password=Y2t0NzZ3dmxsbWJ1bWt6aGp0NXdnNWdjb2JsZWtkYXZ4bWthN3Z6Mm5xa2N4cmQ2NnF1cQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/EmersonAutomationSolutions/AS-PMO-Custom-Development-Services/_packaging/EmersonDynamicUIComponents/npm/registry/:email=not-used@example.com
