.left_section {
  margin: 1rem 1rem;
}
.top_section {
  margin: 1rem 1rem;
}

.spinner_wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pick_from_database_btn {
  margin-top: 1.4rem;
}

.composition_method_dropdown_naturalgas {
  margin-left: 14.7rem;
}
