# builds
dist/

# Confgirations
.env

# NodeJS
node_modules/

# Operating Systems
.DS_Store

# Editors
.idea/
.vscode/

# etc
yalc.lock
.eslintcache
okta-oidc-tck
samples-nodejs-express-4
samples-java-spring