@emerson:registry=https://pkgs.dev.azure.com/EmersonAutomationSolutions/AS-PMO-Custom-Development-Services/_packaging/EmersonDynamicUIComponents/npm/registry/

always-auth=true

//pkgs.dev.azure.com/EmersonAutomationSolutions/AS-PMO-Custom-Development-Services/_packaging/EmersonDynamicUIComponents/npm/registry/:username=VssSessionToken
//pkgs.dev.azure.com/EmersonAutomationSolutions/AS-PMO-Custom-Development-Services/_packaging/EmersonDynamicUIComponents/npm/registry/:_password="dWZuYXc3NnRzZDJ0dTVmdzdwYmxoZXFvaXBraXNmejR1ZjZob3pmcHd0cGN3ZmNhNm9qYQ=="
//pkgs.dev.azure.com/EmersonAutomationSolutions/AS-PMO-Custom-Development-Services/_packaging/EmersonDynamicUIComponents/npm/registry/:email=not-used@example.com
registry=http://registry.npm.taobao.org
