ul {
  list-style-type: none;
  margin: 0;
  position: relative;
  padding: 0 40px;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  height: 64px;
  align-items: center;
  flex-flow: row wrap;
  justify-items: center;
  display: flex;
}

li {
  margin-left: 5px;
}

a {
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  color: white;
  background-color: #004b8d;
}

.active:hover {
  color: white;
  background-color: #004b8d;
}

ul .login {
  background-color: #00aa7e;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  margin-left: auto;
  line-height: 3em;
}
