/* .MuiBox-root.css-i9gxme {
  width: 1000px;
  max-width: 1000px;
} */
/* .css-zow5z4-MuiGrid-root {
  display: block !important;
  width: 200% !important;
} */

.home_wrapper {
  margin-left: 1rem;
  margin-top: 1rem;
}
